argon2-cffi
cachetools
certifi
chardet
click
coverage
Django
django-brace
django-jenkins
django-model-utils
django-phonenumber-field
django-phonenumbers
django-recaptcha
django-star-ratings
djongo
dnspython
Faker
flake8
flake8-polyfill
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
idna
importlib-metadata
Jinja2
jsonpickle
livereload
Markdown
MarkupSafe
mkdocs
oauth2client
oauthlib
pep8
pep8-naming
phonenumbers
Pillow
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
pykerberos
pymongo
python-dateutil
python-snappy
pytz
PyYAML
requests
requests-oauthlib
rs
si
sqlparse
swapper
tornado
Unipath
uritemplate
urllib3
whitenoise
youtube-django
zipp
