{% extends 'base.html' %}

{% load static %}
{% load ratings %}
{% block links %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock  %}

{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Varela+Round&display=swap');
    .filters{
      text-align: center;
    }

    .myDiv{
      columns:50px 4;
      text-align: center;
    }

    .card-img-top {

      width: 20%;
      margin-right: auto;
      margin-left: auto;
      display: block;
  }

  .row {
    padding-top: 0%;
  }


  .card{
    position: relative;
    display: contents;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f0f8ff;
    background-clip: border-box;
    border: 1px solid rgb(240 248 255);
    border-radius: 0.25rem;
  }

  .Course{
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
  }
  .box {  
      
      padding-top: 2%;
      position: static;
      left: 50%;   
  }
  .box select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }

  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  label{
    font-size: 41px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Varela Round', sans-serif;    
  }

  .alert{
    text-align: center;
  }
  h1{
    text-align: center;
  }
  h4{
    margin-right: 54%;
  }

  .filters{
    text-align: center;
  }

  .myA{
    text-decoration: none !important;
    color: white;
  }

  .col{
    max-width: 50%;
  }

</style>

{% endblock style %}

{% block content %}

<h1>{{course.name_course}}</h1>


{% if user.is_authenticated %}
  {% if user.permissions %}
  <div class="filters">
    <a href="{% url 'Category:u-f' course.id  user.id%}">Upload FILE</a>
  </div>
  {% endif %}
{% endif %}
<hr>
{% if homeworks %}
<div class="row">
  {% for hw in homeworks %}
  <div class="col-md-4">
    <br>
    <div class="card">
      <div class="card-body">
        <iframe src="{{hw.file.url}}" width="50%" height="250px"></iframe>
        <h4 class="card-title text-center"> <a class="HomeWork" href="{{hw.file.url}}"><b>{{hw.nameFile}}</b></a></h4>
        <h5 class="card-title"></h5>
      </div>
      <div class="col text-center">  
        {% ratings hw %}           
         {% if user.id == hw.user.id or user.is_superuser%}
         <br>
         <a style="color:red" href="{% url 'Category:delete-file' course.id hw.id%}">Delete File</a>
         {% endif %}
      </div>
        <br>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
<hr>

<div class="filters">
{% if user.is_superuser or user.is_lecturer and user.permissions %}
    <button type="button" class="btn btn-danger"><a class="myA" href="{% url 'Category:delete-course' course.id %}">Delete Folder</a></button>
{% endif %}
    <button type="button" class="btn btn-danger"><a class="myA" href="{% url 'Category:cat' user.id %}">Back</a></button>
</div>

{% endblock content %}