<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
  </head>
  <body>
    <h1>Help Page</h1>
    <h2>Welcome {{name}} OMG OMG</h2>
    <p>this is the help page!</p>
    <p>Haiel was here</p>
    <p>Haiel was here2</p>
    <p>Haiel was here3</p>
    <p>Haiel was here4</p>
    <p>Haiel was here5</p>
    <p>Haiel was here6</p>
    <p>Haiel was here7</p>
    <p>Haiel was here8</p>
    <p>Haiel was here10</p>
    <p>Haiel was here11</p>
    <p>Haiel was here12</p>
    <p>Haiel was here14</p>

    <p>Haiel was here16</p>
    <p>Haiel was here6</p>
    <p>Haiel was here7</p>
    <p>Haiel was here10</p>
    <p>Haiel was here11</p>
    <p>Haiel was here12</p>
    <p>Haiel was here14</p>
    <p>Haiel was here10</p>
    <p>Haiel was here11</p>
    <p>Haiel was here12</p>
    <p>Haiel was here14</p>
    <p>Haiel was here10</p>
    <p>Haiel was here11</p>
    <p>Haiel was here12</p>
    <p>Haiel was here14</p>
    <p>Haiel was here8</p>
  </body>
</html>
